<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/master.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="/js/JSEncrypt.js"></script>
  <script src="/js/script.js"></script>

  <title>Cobrador</title>
</head>

<body>

  <%- include("./components/nav", {url: url, user: user}) %>

    <div class="body-index bg-light">

      <div id="alert"></div>

      <div class="d-flex justify-content-center">
        <img src="/img/user.png" width="100">
      </div>

      <div class="d-flex justify-content-center">
        <h3>Iniciar sesi칩n</h3>
      </div>

      <div>
        <form>
          <div class="mb-3">
            <label for="rfc" class="form-label">RFC</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="rfc" aria-describedby="msgRFC" autocomplete="username">
              <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contrase침a</label>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="password" autocomplete="current-password">
              <span class="input-group-text" style="cursor: pointer;" onclick="changeVisibilityPassword()">
                <i class="bi bi-eye-slash" id="eye-close"></i>
                <i class="bi bi-eye" id="eye-open" style="visibility: hidden; display: none;"></i>
              </span>
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="session">
            <label class="form-check-label" for="session">Mantener sesi칩n iniciada</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" onclick="login(event)">Iniciar Sesi칩n</button>
          </div>
        </form>
      </div>
    </div>

    <%- include("./components/footer") %>

</body>

</html>

<!-- 
  https://encycolorpedia.es/1a7b80 
  https://getbootstrap.com/docs/5.0/components/navbar/
  https://icons.getbootstrap.com/
-->